nodejs-aws-step-functions/serverless.yml
# "service" is the name of this project. This will also be added to your AWS resource names.
service: nodejs-aws-step-functions

plugins:
  - serverless-step-functions

frameworkVersion: "4"

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-southeast-1

functions:
  add:
    handler: handler.add

  double:
    handler: handler.double

  doubleBigNumber:
    handler: handler.doubleBigNumber
  
  handler:
    handler: handler.apiGatewayHandler

stepFunctions:
  stateMachines:
    # simple-maths:
    #   name: simple-maths
    #   definition:
    #     Comment: example to demonstrate function chaining
    #     StartAt: Add
    #     States:
    #       Add:
    #         Type: Task
    #         Resource:
    #           Fn::GetAtt: [add, Arn]
    #         Next: IsBigNumber
    #       IsBigNumber:
    #         Type: Choice
    #         Choices:
    #           - Variable: $
    #             NumericGreaterThan: 50
    #             Next: DoubleBigNumber
    #         Default: Double
    #       Double:
    #         Type: Task
    #         Resource:
    #           Fn::GetAtt: [double, Arn]
    #         End: true
    #         Retry:
    #           - ErrorEquals: [NumberIsTooBig]
    #             MaxAttempts: 0
    #           - ErrorEquals: [States.ALL]
    #             MaxAttempts: 3
    #         Catch:
    #           - ErrorEquals: [NumberIsTooBig]
    #             Next: DoubleBigNumber
    #       DoubleBigNumber:
    #         Type: Task
    #         Resource:
    #           Fn::GetAtt: [doubleBigNumber, Arn]
    #         End: true
    apiGatewayTrigger:
      name: api-gateway-trigger
      events:
        - http:
            path: /step-function-trigger
            method: POST
      definition:
        Comment: Demonstrate how API Gateway integration works
        StartAt: DoSomething
        States:
          DoSomething:
            Type: Task
            Resource:
              Fn::GetAtt: [handler, Arn]
            End: true
